@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  padding-top: 63px;
}

/* font-family: "Poppins", sans-serif; */
/* font-family: "Playfair", serif; */

/* navbar */
.navbar {
  font-family: "Poppins", sans-serif;
  font-size: 17px;
  line-height: 26px;
  text-transform: uppercase;
  box-shadow: 0 8px 6px -6px gray;
  --webkit-box-shadow: 0 8px 6px -6px gray;
  border-bottom: 0 solid gray !important;
}

.nav-link {
  font-weight: 300 !important;
}

.active {
  border-bottom: 1px solid black;
}

.navbar-brand {
  font-weight: 700;
  font-family: "roboto", sans-serif;
  letter-spacing: 3px;
}

.search-form {
  margin-right: 10px;
  margin-top: 4px;
}
.search-form input {
  border: none;
  border-radius: 0;
}
.search-form button {
  background-color: #000000;
  border-radius: 0;
  color: white;
}

/* footer */

.footer {
  color: white;
  padding: 25px;
  background: #000000;
  background: -webkit-linear-gradient(to right, #434343, #000000);
  background: linear-gradient(to right, #434343, #000000);
}

.footer a{
  text-decoration: none;
  color: #ffefba;
  padding: 10px;
}

.footer a:hover{
  color: #ffefba;
  border-bottom: 1px solid #ffefba;
}

@media(max-width:768px){
  .footer{
    padding: 15px;
  }
}

/* page not found  */

.pnf{
  display: flex;
  min-height: 65vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.pnf-title{
  font-size: 100px;
  font-weight: 700;
}

.pnf-heading{
  font-weight: normal;
}

.pnf-button{
  color:black;
  border: 1px solid black;
  text-decoration: none;
  padding: 10px;
  margin-top: 10px;
}

.pnf-button:hover{
  background: black;
  color: white;
}

/* contactus */

.contactus {
  margin: 0;
  padding: 0;
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* register page */

.register{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
  flex-direction: column;
}

/* ==================== */
.product-link {
  text-decoration: none !important;
  color: black !important;
}

/* All category  */
.cat-btn {
  padding: 40px 0px;
  font-size: 24px;
  text-transform: uppercase;
}
.cat-btn:hover {
  background-color: #434343;
  color: white;
}

@media(max-width:768px){
  .cat-btn{
    padding: 20px 0px;
    font-size: 18px;
  }
}


/* dashboard */

.dashboard {
  margin-top: 100px !important;
}

.dashboard-menu h4 {
  background-color: #434343 !important;
  color: white;
  padding: 20px 0px;
}

